.articleCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: transform 0.3s;
}

.articleCard:hover {
  transform: translateY(-5px);
}

.articleImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.articleContent {
  padding: 15px;
}

.articleTitle {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.articleSubtitle {
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}

.articleCategories {
  margin-top: 6px;
}

.categoryBadge {
  display: inline-block;
  background: #0070f3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  margin-right: 5px;
}
.previewText {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

.readMore {
  color: #0070f3;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.readMore:hover {
  color: #005bb5;
}

.badgesContainer {
  margin-top: 10px;
}

.regionBadge,
.topicBadge {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 5px 5px 0 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.regionBadge {
  background-color: #d32f2f; /* Rojo para regiones */
}

.topicBadge {
  background-color: #388e3c; /* Verde para topics */
}
