.modalPanel {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 100%; /* No permite que la imagen se expanda más allá del ancho del contenedor */
  max-height: 80vh; /* La altura máxima será el 80% de la altura de la ventana */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del espacio sin distorsionarse */
}

.imageCaption {
  margin-top: 15px;
}

.imageTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.imageAlt {
  font-size: 1rem;
  color: #666;
}
