.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #d32f2f; /* Rojo distintivo */
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.closeButton:hover {
  color: #b71c1c; /* Rojo más oscuro al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al pasar el cursor */
}

.addAuthorButton {
  background-color: #d32f2f; /* Rojo distintivo */
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px; /* Añade espacio con los elementos superiores */
}

.addAuthorButton:hover {
  background-color: #b71c1c; /* Rojo más oscuro al pasar el cursor */
  transform: scale(1.05); /* Efecto de zoom suave */
}

.addAuthorButton:active {
  background-color: #9a0000; /* Rojo aún más oscuro cuando se hace clic */
  transform: scale(0.95); /* Reduce ligeramente al presionar */
}
