/* src/components/Footer.module.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logoContainer {
  margin-bottom: 1rem;
}

.logo {
  border-radius: 50%; /* Hace que el logo sea redondo */
}

.text {
  font-size: 0.9rem;
  margin: 0;
}

.socials {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.socials li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.socials li a:hover {
  color: #ff6347; /* Rojo para el hover */
}
