/* Header.module.css */

/* General styles for the header */
.header {
  background-color: #ffffff; /* Fondo blanco explícito */
  color: #000000; /* Texto negro explícito */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50%; /* Hace el logo redondo */
  overflow: hidden; /* Recorta la imagen fuera del círculo */
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px; /* Asegúrate de que sea igual al ancho para mantener la forma circular */
}

.tagline {
  margin-left: 30px; /* Ajusta este valor para separar el texto del logo */
  font-size: 1.2rem; /* Opcional: ajusta el tamaño de la fuente si es necesario */
}

.menuButton {
  display: none; /* Ocultamos el botón de hamburguesa por defecto */
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu styles */
.nav {
  display: flex; /* Mostramos el menú por defecto en pantallas grandes */
}

.nav.active {
  display: flex; /* Aseguramos que funcione en pantallas pequeñas */
}

.nav a {
  color: #f0f0f0; /* Enlaces en modo oscuro */
}

.nav a:hover {
  color: #cccccc; /* Color más claro al pasar el cursor */
}

.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuButton {
    display: block; /* Mostramos el botón de hamburguesa en pantallas pequeñas */
    margin-top: 1rem;
  }

  .nav {
    display: none; /* Ocultamos el menú inicialmente */
    flex-direction: column;
    align-items: flex-start;
  }

  .nav.active {
    display: flex; /* Mostramos el menú cuando esté activo */
  }

  .menu {
    width: 100%;
    flex-direction: column;
  }

  .menu li {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }

  .menu li:last-child {
    border-bottom: none;
  }

  .menu a {
    width: 100%;
    display: block;
  }
}
