.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 800px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.searchInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.searchButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.searchButton:hover {
  background-color: #555;
}
