/* SearchBar.module.css */

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 800px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.searchInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.searchButton {
  padding: 0.5rem 1rem;
  font-size: 1rem; /* Puedes ajustar este valor si el ícono se ve muy grande o pequeño */
  background-color: #910e0e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
  background-color: #b71c1c;
}

/* Opcional: Ajusta el tamaño del ícono */
.searchButton svg {
  width: 1em;
  height: 1em;
}
